svg.matrixSvg {

    border: 1px solid;
    background-color: white;
}

* {
    font-family: 'Helvetica';
}

h2 { 
    font-family: "Helvetica Neue"; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}

#matrixRowContainer {
    margin:auto;
    width: 100%;
}

.matrixContainer {
    margin-left:-1px;
}

.row.content-row {
    width:100%;
    margin:auto;
    border-top: 1px solid black;
    display: flex;
}

.col-6.content-col {
    margin-top:-1px;
    margin-bottom:0px;
    padding-bottom: 5em;
    border-left: 1px solid black;
}

.col-6.empty-col {
    display: table-cell;
    vertical-align: top;
    /*height:0px;
    padding: 0px;
    margin: 0px;*/
}

.col-6.no-border {
    border-left: 0px;
}


#header-row {
    border-top: 0px;
}

#header-row .content-col {
    padding:2em;
}

.instrumentName {
    margin-top:1em;
    margin-left: 1em;
    font-size: 18px;
    text-align: left;
}

#songName {
    text-align: left;
    margin-left: 50px;
}


.cuivre .wordrect {
    fill: red;
}

.matrixHighlights {
    /* So that we don't get spurious mouseLeave events when a highlight rect
     * pops up on top of a wordrect. */
    pointer-events: none;
}

rect.focalBlock, rect.alley {
    fill: rgb(215, 235, 255);
}

.focalBlock.primary, .focalBlock.primary-maindiag {
    fill-opacity: .9;
}

.focalBlock.incidental {
    fill-opacity: .5;
}

rect.alley {
    fill-opacity: .3;
}

.alley.lyrics-alley {
    fill-opacity: 1;
}

rect.wordrect {
    stroke: aqua;
    /** Depending on the amount of text and the size of the viewport, individual
     * rects can end up being really small, and hovering over them (and remaining
     * there) turns into a very finnicky affair. This helps with that by adding
     * some invisible padding around each rect. */
    stroke-width: 1.5;
    stroke-opacity: 0;
}


svg.matrix {
    background-color: white;
    border: black;
    border-style: solid;
    border-width: 1px;
    cursor: crosshair;
}


li.genre.grey.open a.genre {
    background-color: #737373;
}


li.genre.grey a.genre {
    background-color: #bfbfbf;
}



/*Drop down menu*/
/*.dropdown {
    display: inline-block;
}


.dropdown-submenu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-menu .grey {
    background-color: #bfbfbf;
}

.dropdown-menu .grey:active {
    background-color: #737373;
}
*/



/*


ul.dropdown-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.dropdown-menu {
  float: left;
}

li a.dropdown-menu, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.dropdown-menu:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}*/