svg.matrixSvg {

    border: 1px solid;
    background-color: white;
}

* {
    font-family: 'Helvetica';
}

h2 { 
    font-family: "Helvetica Neue"; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    color:black;
}

#matrixRowContainer {
    margin:auto;
    width: 100%;
}

.matrixContainer {
    margin-left:-1px;
}

.row.content-row {
    width:100%;
    margin:auto;
    border-top: 1px solid black;
    display: flex;
}

.col-5.content-col {
    margin-top:-1px;
    margin-bottom:0px;
    padding-bottom: 5em;
    border-left: 1px solid black;
}

.col-5.empty-col {
    display: table-cell;
    vertical-align: top;
    /*height:0px;
    padding: 0px;
    margin: 0px;*/
}

.col-5.no-border {
    border-left: 0px;
}


#header-row {
    border-top: 0px;
}

#header-row .content-col {
    padding:1em;
}



.flex-container {
    display: flex;
    align-items: flex-start;
}

#song-info{
    float: right;
    text-align: center;
}

#song-selector {
    margin:auto;
    margin-left: 1em;
    float: left;
}

#song-selector {
    display:inline-block;
}



.matrix-info {
    display: flex;
    align-items: flex-start;
}

.matrix-info a {
    color: #737373;
    float: right;
    margin: auto;
    margin-right: 1em;
}


.matrix-info .instrumentName {
    float: left;
    margin: auto;
    margin-left: 1em;
    font-size: 18px;
    
}


.instrumentName {
    /*margin-top:1em;*/
    /*text-align: left;*/
}


svg.matrix {
    background-color: white;
    border: black;
    border-style: solid;
    border-width: 1px;
    cursor: crosshair;
}


li.genre.grey.open a.genre {
    background-color: #737373;
}


li.genre.grey a.genre {
    background-color: #bfbfbf;
}
