svg.matrixSvg {

    border: 1px solid;
    background-color: white;
}

* {
    font-family: 'Helvetica';
}

h2 { 
    font-family: "Helvetica Neue"; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    color:black;
}


#matrixRowContainer {
    margin:auto;
    width: 100%;
}

.matrixContainer {
    margin-left:-1px;
}

.row.content-row {
    width:100%;
    margin:auto;
    border-top: 1px solid black;
    display: flex;
}

.col-5.content-col {
    margin-top:-1px;
    margin-bottom:0px;
    padding-bottom: 5em;
    border-left: 1px solid black;
}

.col-5.empty-col {
    display: table-cell;
    vertical-align: top;
    /*height:0px;
    padding: 0px;
    margin: 0px;*/
}

.col-5.no-border {
    border-left: 0px;
}




/*** HEADER STYLING ***/
#header-row {
    border-top: 0px;
}

#header-row .content-col {
    padding:1em;
    position: relative;
    padding-right:0;
    padding-bottom: 0.5em;
}


#logo {
    margin-top: 1.2em;
}

.flex-container {
    display: flex;
    align-items: flex-start;
}



#song-selector {
    float: left;
    display:inline-block;
}


#song-info, 
#song-selector {
    margin:0.8em;
}

#song-info{
    text-align: left;
    margin-top: 1em;
}

#song-info h2 {
    margin:0;
}


#artist {
    font-size: 14px;
    font-weight: 300;
    white-space:nowrap;
}


#custom-file {
    position: absolute;
    right:0;
    bottom: 0;
}

.inputfile + label,
#custom-file {
    font-weight: 300;
    color: #737373;
}


/*** GENERAL BUTTON AND INPUT STYLING ***/

.btn,
button,
.parameters input,
#genre-ul,
#genre-ul ul {
    border-color:#8c8c8c;
    border-radius:2px;
    border-width: 2px;
    border-style: solid;
}

.parameters input {
    padding-left:5px;
}

#genre-ul, #genre-ul ul {
    padding: 0;
}

#genre-ul ul {
    top: -2px;
    margin-left:3px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/*.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}*/

.inputfile:focus + label,
.inputfile + label:hover {
    /*background-color: #d4d4d4;*/
    cursor: pointer;
    text-decoration: underline;
}



#music-menu > button.btn.btn-default {
    text-transform: uppercase;
}


.container-vertical {
    width:100%;
}

.parameters {
    width:100%;
    margin:0.8em;
    margin-bottom: 0;
    margin-top:2em;
    display: flex;
    align-items: flex-end;
}

.parameters span {
    line-height: 18px;
}

.parameters input {
    float:right;
    margin:auto;
    margin-right: 0.8em;
}



.matrix-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.matrix-info a {
    color: #737373;
    float: right;
    margin: auto;
    margin-right: 0;
    font-size: 14px;
}


.matrix-info .instrumentName {
    float: left;
    margin: auto;
    margin-left: 1em;
    font-size: 14px;
    
}


.instrumentName {
    transform-origin: left;
    transform: rotate(-90deg) translate(1.4em, -2em);
}


svg.matrix {
    background-color: white;
    border: black;
    border-style: solid;
    border-width: 1px;
    cursor: crosshair;
}


li.genre.grey.open a.genre {
    background-color: #999999;
}


li.genre.grey a.genre {
    background-color: #bfbfbf;
}


.year-element {
    text-align: center;
    background-color: #bfbfbf;
}



